<%- include("./includes/header.ejs", {title:"About Page"}); %>
<h1>About Page</h1>

<h1>Navagation</h1>
<a href="/">Home  |  </a> <a href="/about">About  |  </a> <a href="/donation/all">Donations  |  </a> <a href="/volunteer/getAll">Volunteering  |  </a>
<a href="/account/all">Accounts </a>
<br>

<h2>NonProfit Organization</h2>

<p>The database revolves around the idea of how a non-profit Organization would store and display information relevant to its company.
More specifically the database keeps track of what individuals are supporting the organization, whether that may be contributing money,
or time. Below, there is design elements of the database. Our goal is to inform the public of service projects/events that give back
to the community. A key feature of the webapp, is users are encouraged to create/share their own community projects so others can volunteer.</p>

<h2> Entity Relation Diagram </h2>
<img src="/images/ERDiagram.png">

<br>
<h2> Relational Schema </h2>
<img src="/images/relationalSchema.png">

<%- include("./includes/footer.ejs"); %>