<%- include("../includes/header.ejs", {title:"Add New Event Entry"}); %>

<h1>Navigation</h1>
<a href="/">Home  |  </a> <a href="/about">About  |  </a> <a href="/donation/all">Donations  |  </a> <a href="/volunteer/getAll">Volunteering  |  </a>
<a href="/account/all">Accounts </a>
<br>

<h2>Create Event: </h2>
<p>Enter Data in following order: Description, Street Address, Zip Code </p>
<form action="/volunteer/addEvent" method="POST">
    <input type="'text" name='Event[description]'>
    <input type="'text" name='Event[street]'>
    <input type="'text" name='Event[zipcode]'>
    <button type="submit">Submit Record</button>
</form>

<%- include("../includes/footer.ejs"); %>