<%- include("../includes/header.ejs", {title:"Successful Insertion"}); %>

<h1> Successful Insertion </h1>


<a href="/volunteer/getAll">Volunteer View All</a>

<%- include("../includes/footer.ejs"); %>