<!DOCTYPE html>
<html>
<head>
    <style>
        #container {
            width: 100%;

        }
        a {
            color : black
        }

        body {
            background-color : aquamarine;
        }

    </style>
</head>
<body>


</body>
</html>